
:root {
  --color-body: #f8f8f8;
  --color-text: #131311;
  --color-text-faded: #3d3d3c;
  --color-title: #f8f8f8;
  --color-border: #d9d8d4;
  --color-highlight: #435667;
  --text-font: 'Montserrat', sans-serif;
  --text-font: 'Open Sans', sans-serif;
  --title-font: 'Luckiest Guy', cursive;
  --quote-font: 'Caveat', cursive;
}

body {
  margin: 0;
  font-family: var(--text-font);
  font-size: 14px;
  overflow: hidden;
  color: var(--color-text);
}

#preparation {
  text-align: center;
  margin-bottom: 3px;
}

#preparation button {
  font-size: 18px;
  border-radius: 5px;
}

.die-icon {
  border: 1px solid;
  border-radius: 3px;
  width: 12px;
  height: 12px;
  display: inline-block;
  line-height: 11px;
  text-align: center;
}

.die-icon {
  width: 20px;
  height: 20px;
  line-height: 20px;
}

#view {
  overflow: hidden;
  width: 744px;
  height: 1038px;
}

.card-board {
  background-color: transparent;
  display: grid;
  grid-gap: 0;
  position: relative;
  z-index: -3;
  --cardWidth: 744px;
  --cardHeight: 1038px;
}

.card-board.print {
  width: calc(var(--cardWidth) * 9);
  height: calc(var(--cardHeight) * 6);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card-board.texture {
  width: calc(var(--cardWidth) * 10);
  height: calc(var(--cardHeight) * 7);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card {
  border-radius: 0;
  /* border-radius: 30px; */
}

.design, .ability-hint {
  position: absolute;
  height: var(--cardHeight);
  width: var(--cardWidth);
  background-position: -36px -37px;
  border-radius: inherit;
  z-index: -1;
}
.ability-hint {
  z-index: -2;
}
.artwork, .background {
  position: absolute;
  height: var(--cardHeight);
  width: var(--cardWidth);
  background-position: -36px -37px;
  border-radius: inherit;
  z-index: -3;
}
.background {
  z-index: -4;
}
.artwork {
  margin-top: 30px;
  clip: rect(0px,744px,600px,0px);
}

.hint-symbol-1 {
  width: 45px;
  transform: translate(34px, 151px);
}
.hint-symbol-2 {
  width: 45px;
  transform: translate(34px, 247px);
}
.hint-symbol-3 {
  width: 45px;
  transform: translate(34px, 340px);
}

.life {
  position: absolute;
  text-align: center;
  transform: translate(30px, 24px);
  font-family: var(--title-font);
  font-size: 68px;
  width: 76px;
  color: var(--color-text);
}

.title {
  position: absolute;
  width: 540px;
  display: block;
  /* font-size: 40px;
  transform: translate(130px, 50px); */
  font-size: 38px;
  transform: translate(130px, 51px);
  text-transform: uppercase;
  font-family: var(--title-font);
  font-size: 43px;
  color: var(--color-title);
  transform: translate(134px, 36px);
}

.description {
  position: absolute;
  width: var(--cardWidth);
  padding: 28px 0;
  text-align: center;
  transform: translateY(560px);
  font-family: var(--quote-font);
  font-size: 36px;
  font-weight: bold;
  color: var(--color-text);
}
.description img {
  width: 66px;
  margin-bottom: -7px;
}

.identifier {
  position: absolute;
  width: var(--cardWidth);
  text-align: center;
  color: white;
  transform: translateY(1011px);
  font-size: 18px;
}

table.abilities {
  border-spacing: 0 20px;
  width: var(--cardWidth);
  position: absolute;
  transform: translateY(650px);
  font-size: 24px;
  padding: 0 28px;
}
table.abilities th {
  text-align: left;
}
table.abilities tr > td.ability {
  border-right: 4px solid;
  padding-right: 28px;
  width: 28px;
}
table.abilities tr > td.ability img {
  vertical-align: middle;
  width: 100%;
}
table.abilities tr > td.outcomes {
  padding-left: 25px;
  background: linear-gradient(to right, #0000001f, transparent 10%);
}

table.abilities tr > td.outcomes > div.condition {
  font-weight: 600;
}

table.abilities tr > td.outcomes > div.effect {

}
